# Binaries and build artifacts
build/*
bin/*
contribs/*
appdir/*

# QtCreator temporary project files
OffloadBuddy.config
OffloadBuddy.creator*
OffloadBuddy.files
OffloadBuddy.includes

# QMake temporary project files
OffloadBuddy.pro.*
Makefile
.qmake.stash

# Others
stash/*
