# Binaries and build artifacts
appdir/*
build/*
bin/*
contribs/build/*
contribs/deploy/*
contribs/env/*
contribs/src/*

# QtCreator temporary project files
OffloadBuddy.config
OffloadBuddy.creator*
OffloadBuddy.files
OffloadBuddy.includes
OffloadBuddy.pro.*

# Qt Quick Compiler
qrc_resources.cpp
qmlcache_loader.cpp
qml_*qml.cpp

# QMake temporary project files
Makefile
.qmake.stash

# Others
stash/*
.DS_Store
